@import 'tailwindcss';

:root {

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('./assets/bg-body.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

.playmat {
  background-image: url('./assets/bg-playmat.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
.text-shadow {
  text-shadow: 1px 1px 4px black;
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;

}

@media (prefers-color-scheme: light) {
}
